.parent {
    border: 2px solid #3112df;
    color: black;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
}

.pending-drag {
    border: 2px solid hsl(43, 85%, 47%);
    color: black;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
    text-align: justify;
    height: 200px;
}

.origin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
}

.draggable {
    background-color: #4AAE9B;
    font-weight: normal;
    border: 1px solid #000;
    width: 30%;
    margin: 10px 5px 10px 5px;
    padding: 10px;
    float: left;
}

.dropzone-parent {
    background-color: #6DB65B;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
    text-align: justify;
}

.dropzone {
    background-color: #6DB65B;
    border: 2px solid black;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
    text-align: justify;
    height: 200px;
}

  @keyframes bubble-up {
    0% {
        top: 100;
        left: 100;
    }
    100% {
        top: 0;
        left: 100;
    }
  }

  .bubble1 {
    position: fixed;
    top: 105%;
    left: 90%;
    height: 300px;
    width: 300px;
    background-color: rgba(150, 100, 90, .3);
    border-radius: 50%;

    animation: bubble-up 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
  .bubble2 {
    position: fixed;
    top: 105%;
    left: 20%;
    height: 400px;
    width: 400px;
    background-color: rgba(150, 100, 90, .3);
    border-radius: 50%;

    animation: bubble-up 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
  .bubble3 {
    position: fixed;
    top: 105%;
    left: 60%;
    height: 200px;
    width: 200px;
    background-color: rgba(50, 122, 72, 0.3);
    border-radius: 50%;

    animation: bubble-up 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
  .bubble4 {
    position: fixed;
    top: 105%;
    left: 30%;
    height: 200px;
    width: 200px;
    background-color: rgba(200, 100, 200, .3);
    border-radius: 50%;

    animation: bubble-up 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
  .bubble5 {
    position: fixed;
    top: 105%;
    left: 70%;
    height: 100px;
    width: 100px;
    background-color: rgba(150, 250, 90, .3);
    border-radius: 50%;

    animation: bubble-up 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }

  body {
    padding: 0;
    margin: 0;
    min-height: 500vh;
    background-color: rgb(139, 201, 228);
    animation: body 1s linear;
  }
  @keyframes body {
    to {
      background-color: rgb(19, 48, 97);
    }
  }
  :root * {
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }